name: CI/CD Pipeline for RAG application

on:
  push:
    branches:
      - master
      - main

  workflow_dispatch:
     
 
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' 

      - name: Install dependencies for linting
        run: |
          pip install --upgrade pip
          pip install black ruff

      - name: Run Black check
        run: black .

      - name: Run Ruff check
        run: ruff check .

  docker-build-and-test:
    runs-on: ubuntu-latest
    needs: lint 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t local-rag-app .
